<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Educja użytkownika</title>
    <base href="/">
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body id="editUserBody">
<div th:replace="~{fragments/header :: header}">Header</div>
    <main>
        <section>
            <div class="container col-sm-8 offset-sm-2 justify-content-center my-3">
                <div class="row">
                    <h1 class="col">Użytkownik</h1>
                    <table class="table table-hover bg-light rounded border border-primary">
                        <thead>
                            <th scope="col">id</th>
                            <th scope="col">nickname</th>
                            <th scope="col">email</th>
                            <th scope="col">rola</th>
                            <th scope="col">status</th>
                        </thead>
                        <tbody>
                            <tr th:object="${user}">
                                <td th:text="*{id}"></td>
                                <td th:text="*{nickname}"></td>
                                <td th:text="*{email}"></td>
                                <td th:text="*{roles}"></td>
                                <td th:text="*{state}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <h1 class="col">Edycja</h1>
                    <div class="bg-light rounded border border-primary col-12">
                        <div class="my-3">Zmień rolę na: </div>
                        <form class="my-2" method="post" th:object="${singleRole}" th:action="@{'/admin/users/edit/'+${user.id}+'/role/save'}">
                            <select th:field="${singleRole.id}">
                                <option th:each="role: ${userRoles}"
                                        th:value="${role.id}"
                                        th:utext="${role.role}"></option>
                            </select>
                            <button type="submit" class="btn btn-success my-2">Zapisz</button>
                        </form>
                        <div class="my-3">Zmień status: </div>
                        <form class="my-2" method="post" th:object="${singleState}" th:action="@{'/admin/users/edit/'+${user.id}+'/state/save'}">
                            <select th:field="*{userState}">
                                <option th:each="state: ${statesList}"
                                        th:value="${state}"
                                        th:utext="${state}"></option>
                            </select>
                            <button type="submit" class="btn btn-success my-2">Zapisz</button>
                        </form>
                        <div class="my-3">Zresetuj hasło użytkownika: </div>
                        <a th:value="${user.id}" onclick="resetPassrowd(this)" class="btn btn-danger btn-sm active my-2" role="button" aria-pressed="true">Resetuj</a>
                        <div class="my-3">
                            <a th:href="@{/admin/users/1}">
                                <button type="button" class="btn btn-dark">Wróć do listy</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{js/resetPasswordModal.js}"></script>
</body>
</html>