<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Panel administratora</title>
    <base href="/">
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/fontello/css/fontello.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body id="userManagerBody">
<div th:replace="~{fragments/header :: header}">Header</div>
<main>
    <section>
        <div class="container col-sm-10 offset-sm-1 my-3">
            <div th:if="not ${users.isEmpty()}">
                <h1>Użytkownicy</h1>
                <div class="row mb-2 mt-4">
                    <div class="col">
                        <input type="hidden" id="cp" th:value="${currentPage}">
                        <input class="commentInput" id="searchInput" placeholder=". . .">
                        <button onclick="search(0)" type="button" class="sendButton btn btn-primary">Szukaj</button>
                    </div>
                </div>
                <table class="table table-hover bg-light rounded border border-primary">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">id</th>
                        <th scope="col">nickname</th>
                        <th scope="col">email</th>
                        <th scope="col">rola</th>
                        <th scope="col">aktywny</th>
                        <th scope="col">opcje</th>
                    </thead>
                    <tbody>
                        <tr class="singleUser" th:each="user, index: ${users}" th:object="${user}" th:with="i=((${currentPage}-1)*10)">
                            <th scope="row" th:text="${index.index+1}+${i}">1</th>
                            <td th:text="*{id}"></td>
                            <td th:text="*{nickname}"></td>
                            <td th:text="*{email}"></td>
                            <td th:text="*{roles}"></td>
                            <td th:text="*{state}"></td>
                            <td>
                                <a th:href="@{'/admin/users/edit/'+${user.id}}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Edytuj</a>
                                <a th:value="${user.id}" onclick="confirmRemoveUser(this)" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Usuń</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagesContainer">
                <div class="row pagesRow my-5 col-8 offset-2">
                    <div class="text-primary col my-2" th:text="|Strona ${currentPage} z ${totalPages}|">Strona 1 z 1</div>
                    <div class="col" th:if="${currentPage}>1" th:with="prevPage=(${currentPage}-1)">
                        <a th:href="@{'/admin/users/'+${prevPage}}" class="btn btn-primary btn-sm my-1 active" role="button" aria-pressed="true">Poprzednia</a>
                    </div>
                    <div class="col" th:if="${currentPage}<${totalPages}" th:with="nextPage=(${currentPage}+1)">
                        <a th:href="@{'/admin/users/'+${nextPage}}" class="btn btn-primary btn-sm my-1 active" role="button" aria-pressed="true">Następna</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/commentButton.js}"></script>
<script type="text/javascript" th:src="@{js/removeUserModal.js}"></script>
<script type="text/javascript" th:src="@{js/searchInput.js}"></script>
</body>
</html>