<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-dark bg-basket navbar-expand-sm">
        <a class="navbar-brand" th:href="@{/games/1}"><img th:src="@{img/41.png}" width="30" height="30" class="d-inline-block mr-1 align-bottom" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/games/1}">Lista gier</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/meeting}">Dodaj grę</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true">Profil</a>
                    <div class="dropdown-menu" aria-labelledby="submenu">
                        <a class="dropdown-item" th:href="@{/edit/profile}">Ustawienia</a>
                    </div>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item active">
                    <a class="nav-link" th:href="@{/admin/users/1}">Panel admina</a>
                </li>
            </ul>
            <form class="form-inline" th:action="@{/logmeout}" method="post">
                <button class="btn btn-light" type="submit">Wyloguj</button>
            </form>
        </div>
    </nav>
</header>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>