html, body{
    font-family: 'Kodchasan', sans-serif;
    margin: 0;
    padding: 0;
}
#loginBody{
    background: url("https://scontent-waw1-1.xx.fbcdn.net/v/t31.0-8/18451564_1353148248066748_973901452941156909_o.jpg?_nc_cat=111&oh=24de83deabb872821f4f4a784b14cff1&oe=5C542A51") no-repeat center center fixed;
    background-size: cover;
}
#registerBody{
    background: url("https://scontent-waw1-1.xx.fbcdn.net/v/t31.0-8/18451564_1353148248066748_973901452941156909_o.jpg?_nc_cat=111&oh=24de83deabb872821f4f4a784b14cff1&oe=5C542A51") no-repeat center center fixed;
    background-size: cover;
}
#meetingBody{
    background: #b54800 url("https://www.transparenttextures.com/patterns/basketball.png");
}
#timelineContainer{
    background: #b54800 url("https://www.transparenttextures.com/patterns/basketball.png");
}
#timelineContainer h1{
    color: white;
    margin: 10px 0 10px 0;
    font-family: 'Kodchasan', sans-serif;
    font-weight: bold;
}
#detailsBody{
    background: #b54800 url("https://www.transparenttextures.com/patterns/basketball.png");
}
#detailsBody .container{
    font-family: 'Kodchasan', sans-serif;
    color: white;
}
#errorBody{
    background: url("https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/26814625_1534955146599612_3587535630152845917_n.jpg?_nc_cat=107&oh=bc9d34a758ba5f3ae0f8e9bcaa98761c&oe=5C46F356") repeat center center fixed;
}
#errorBody .container{
    font-family: 'Kodchasan', sans-serif;
    color: white;
    background-color: #c82333;
    text-align: center;
    border-radius: 25px;
    opacity: 0.9;
}
#errorBody .container h1{
    font-weight: bold;
}
#errorBody .container a{
    text-decoration: none;
    color: black;
    padding: 5px;
}
#errorBody .container a:hover{
    animation: errorLink 1.5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
}
@keyframes errorLink {
    100%{color: silver;font-weight: bold;background-color: black;border-radius: 25px;}
}
#registerSuccessBody{
    background: #b54800 url("https://www.transparenttextures.com/patterns/basketball.png");
}
#registerSuccessBody .container{
    font-family: 'Kodchasan', sans-serif;
    color: white;
    background-color: #34ce57;
    text-align: center;
    border-radius: 25px;
}
#registerSuccessBody .container h1{
    font-weight: bold;
}
#registerSuccessBody .container a{
    text-decoration: none;
    color: #005cbf;
    padding: 5px;
}
#registerSuccessBody .container a:hover{
    animation: registerSuccessLink 1.5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
}
@keyframes registerSuccessLink {
    100%{color: darkblue;font-weight: bold;background-color: #fd7e14;border-radius: 25px;}
}
#userManagerBody{
    background: #b54800 url("https://www.transparenttextures.com/patterns/basketball.png");
}
#userManagerBody .container{
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
}
#userManagerBody .container h1{
    font-weight: bold;
    color: white;
}
#editUserBody{
    background: #b54800 url("https://www.transparenttextures.com/patterns/basketball.png");
}
#editUserBody .container{
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
}
#editUserBody .container h1{
    color: white;
    font-weight: bold;
}
#editProfile{
    background: #b54800 url("https://www.transparenttextures.com/patterns/basketball.png");
}
#editProfile .container{
    background-color: white;
    opacity: 0.8;
    border-radius: 25px;
    font-family: 'Kodchasan', sans-serif;
    font-weight: bold;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}
#editProfile .container:hover{
    opacity: 0.9;
    box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
    -webkit-box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
    -moz-box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
}
#editSuccessBody{
    background: #b54800 url("https://www.transparenttextures.com/patterns/basketball.png");
}
#editSuccessBody .container{
    font-family: 'Kodchasan', sans-serif;
    color: white;
    background-color: #34ce57;
    text-align: center;
    border-radius: 25px;
}
#editSuccessBody .container h1{
    font-weight: bold;
}
#editSuccessBody .container a{
    text-decoration: none;
    color: #005cbf;
    padding: 5px;
}
#editSuccessBody .container a:hover{
    animation: editSuccessLink 1.5s ease-in-out 0s 1;
    animation-fill-mode: forwards;
}
@keyframes editSuccessLink {
    100%{color: darkblue;font-weight: bold;background-color: #fd7e14;border-radius: 25px;}
}
.undecorated input[type="submit"]{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.infoDiv{
    border-radius: 25px;
    margin: 10px 0 10px 0;
    float: left;
    border: brown;
    background-color: burlywood;
}
.votesDiv{
    float: left;
}
.votesDiv a{
    font-weight: bold;
    color: white;
}
.nickDiv{
    float: left;
    padding: 20px;
    font-weight: bold;
    color: darkblue;
}
.descDiv{
    float: left;
    padding: 20px;
}
.timeDiv{
    float: left;
    padding: 20px;
}
.plusDiv{
    border-radius: 25px;
    margin: 10px 5px 0 0;
    float: left;
    padding: 20px;
    background-color: darkgreen;
    transition: background-color 1.5s;
}
.plusDiv:hover{
    background-color: #34ce57;
}
.maybeDiv{
    border-radius: 25px;
    margin: 10px 5px 0 0;
    float: left;
    padding: 20px;
    background-color: orange;
    transition: background-color 1.5s;
}
.maybeDiv:hover{
    background-color: gold;
}
.minusDiv{
    border-radius: 25px;
    margin: 10px 5px 0 0;
    float: left;
    padding: 20px;
    background-color: red;
    transition: background-color 1.5s;
}
.minusDiv:hover{
    background-color: #ff6100;
}
.meetingDetails{
    border-radius: 25px;
    margin: 10px 5px 0 0;
    padding: 20px;
    background-color: #9fcdff;
    float: left;
    transition: background-color 1.5s;
}
.meetingDetails:hover{
    background-color: #8ebcdd;
}
.commentDiv{
    clear: both;
    padding: 5px;
    background-color: orange;
}
.clearDiv{
    clear: both;
}
.clearDiv .btn{
    margin: 0 0 5px 2px;
}
.containerComment {
    width:100%;
    border:1px solid #d3d3d3;
}
.containerComment div {
    width:100%;
}
.containerComment .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 1.5s, color 1.5s;
}
.containerComment .header:hover{
    background-color: #c2c2c2;
    color: darkblue;
}
.containerComment .content {
    display: none;
    padding : 5px;
}
.counter{
    color: #721c24;
}
.counterSize{
    float: left;
}
.counterText{
    float: left;
}
.bg-basket{
    background-color: #e07300 !important;
    font-family: 'Kodchasan', sans-serif;
}
.bg-basket a:hover{
    background-color: #f28533;
    border-radius: 25px;
}
.meetings{
    text-align: center;
}
.container{
    border: #0b2e13;
}
.singleGame{
    border-radius: 25px;
    background-color: white;
    opacity: 0.9;
    font-family: 'Kodchasan', sans-serif;
    margin-bottom: 20px;
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}
.singleGame:hover{
    box-shadow: 5px 5px 35px 7px rgba(204,204,204,0.9);
    opacity: 0.95;
}
.singleGame input{
    margin: 5px 5px 5px 0;
}
.content{
    text-align: left;
}
#loginBody .container{
    z-index: 2;
    background-color: white;
    opacity: 0.8;
    border-radius: 25px;
    font-family: 'Kodchasan', sans-serif;
    font-weight: bold;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}
#loginBody .container:hover{
    opacity: 0.9;
    box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
    -webkit-box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
    -moz-box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
}
#registerBody .container{
    background-color: white;
    opacity: 0.8;
    border-radius: 25px;
    font-family: 'Kodchasan', sans-serif;
    font-weight: bold;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}
#registerBody .container:hover{
    opacity: 0.9;
    box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
    -webkit-box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
    -moz-box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
}
#meetingBody .container{
    background-color: white;
    opacity: 0.8;
    border-radius: 25px;
    font-family: 'Kodchasan', sans-serif;
    font-weight: bold;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    -moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}
#meetingBody .container:hover{
    opacity: 0.9;
    box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
    -webkit-box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
    -moz-box-shadow: 5px 5px 35px 8px rgba(204,204,204,0.9);
}
.containerPlus{
    text-align: center;
    background-color: #a6fc94;
    position: relative;
    animation: plusframes 2s ease-in-out 0s 1;
    animation-fill-mode: forwards;
}
@keyframes plusframes {
    0% {max-height: 0;}
    100% {max-height: 300px;background-color: #34ce57;border-radius: 25px;}
}
.containerMaybe{
    text-align: center;
    background-color: gold;
    position: relative;
    animation: maybeframes 2s ease-in-out 0s 1;
    animation-fill-mode: forwards;
}
@keyframes maybeframes {
    0% {max-height: 0;}
    100% {max-height: 300px;background-color: orange;border-radius: 25px;}
}
.containerMinus{
    text-align: center;
    background-color: #ff6100;
    position: relative;
    animation: minusframes 2s ease-in-out 0s 1;
    animation-fill-mode: forwards;
}
@keyframes minusframes {
    0% {max-height: 0;}
    100% {max-height: 300px;background-color: red;border-radius: 25px;}
}
.detailsFontello{
    float: left;
}
.plusUsers{
    font-weight: bold;
}
.maybeUsers{
    font-weight: bold;
}
.minusUsers{
    font-weight: bold;
}
.meetingInfo{
    background-color: burlywood;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    opacity: 0.9;
}
.meetingInfo:hover{
    opacity: 0.95;
}
.nav-item{
    font-weight: bold;
}
.comments-details-container{
    border-radius: 25px;
    background-color: white;
    opacity: 0.9;
    color: black;
    text-align: center;
}
.comments-details-container:hover{
    opacity: 0.95;
}
.pagesRow{
    background-color: white;
    opacity: 0.9;
    border-radius: 25px;
}
.pagesRow:hover{
    opacity: 0.95;
}
.mainPage{
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.mainPage video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.mainPage .container {
    position: relative;
    z-index: 2;
}
.mainPage .container h1{
    color: #ffffff;
}
.removePostBtn i:hover{
    color: #c82333;
    cursor: pointer;
}

