<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Szczegóły</title>
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/fontello/css/fontello.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body id="detailsBody">
    <div th:replace="~{fragments/header :: header}">Header</div>
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="meetingInfo col-sm-10 offset-sm-1 my-sm-3" th:object="${meeting}">
                        <div th:text="|*{user.nickname}: *{description} *{#dates.format(timestamp, 'dd-MMM-yyyy HH:mm:ss')}|"></div>
                    </div>
                    <div class="containerPlus col-sm-4">
                        <i class="icon-ok-circled"></i>
                        <div th:each="nick: ${plusUsers}" th:object="${nick}">
                            <div class="plusUsers" th:text="${nick}"></div>
                        </div>
                    </div>
                    <div class="containerMaybe col-sm-4">
                        <i class="icon-help-circled"></i>
                        <div th:each="nick: ${maybeUsers}" th:object="${nick}">
                            <div class="maybeUsers" th:text="${nick}"></div>
                        </div>
                    </div>
                    <div class="containerMinus col-sm-4">
                        <i class="icon-minus-circled"></i>
                        <div th:each="nick: ${minusUsers}" th:object="${nick}">
                            <div class="minusUsers" th:text="${nick}"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <section class="col-sm-8 offset-sm-2 my-sm-3">
                        <div class="comments-details-container py-sm-2">
                            <div class="clearDiv">
                                <form method="post" th:action="@{'/comment/'+${meeting.id}+'/save'}" th:object="${comment}">
                                    <input class="commentInput" th:field="*{text}" placeholder="...">
                                    <button class="btn btn-dark" type="submit">Skomentuj</button>
                                </form>
                            </div>
                            <div class="containerComment">
                                <div class="header">
                                    <span>Pokaż komentarze</span>
                                </div>
                                <div class="content">
                                    <div class="contentDiv" th:each="comment: ${meeting.comments}" th:object="${comment}">
                                        <div class="oneComment"
                                             th:text="|*{user.nickname}: *{text} *{#dates.format(timestamp, 'dd-MMM-yyyy HH:mm:ss')}|">
                                            Maciow: 41? 1.1.1970 23:59
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="counter mx-3" th:object="${meeting}">
                                <div class="counterSize" th:text="*{comments.size()}">0</div>
                                <div class="counterText"><i class="icon-chat"></i></div>
                                <div class="clearDiv"></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </main>

    <script type="text/javascript" th:src="@{js/comments.js}"></script>
    <script type="text/javascript" th:src="@{js/commentButton.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>