<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ustawienia konta</title>
    <base href="/">
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body id="editProfile">
<div th:replace="~{fragments/header :: header}">Header</div>
<main>
    <section>
        <div class="container col-sm-8 offset-sm-2 justify-content-center my-5">
            <div class="row justify-content-center">
                <h1>Ustawienia konta</h1>
            </div>
            <div class="row justify-content-center">
                <h3>Podaj dane które chcesz zmienić</h3>
            </div>
            <div class="row justify-content-center my-3">
                <form method="post" th:action="@{/edit/profile/save}" th:object="${userWrapper}">
                    <p th:errors="*{nickname}">Nick errors</p>
                    <input class="my-1" th:field="*{nickname}" placeholder="Nowy nickname"><br />
                    <p th:errors="*{email}">Email errors</p>
                    <input class="my-1" th:field="*{email}" placeholder="Nowy email"><br />
                    <p th:errors="*{password}">Password errors</p>
                    <input class="my-1" type="password" th:field="*{password}" placeholder="Nowe hasło"><br />
                    <p th:errors="*{confirmPassword}">Confirm errors</p>
                    <input class="my-1" type="password" th:field="*{confirmPassword}" placeholder="Potwierdź nowe hasło"><br />
                    <div class="row justify-content-center mt-3 mb-1">
                        <button class="btn btn-success" type="submit">Zmień dane</button>
                    </div>
                </form>
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-dark mb-3" type="button" th:href="@{/games/1}">Wróć do listy gier</a>
            </div>
        </div>
    </section>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>