<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Please Login</title>
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body id="loginBody">
    <main>
        <section>
            <div class="container col-sm-6 offset-sm-3 my-5">
                <div class="row justify-content-center my-2">
                    <h1>Zaloguj się</h1>
                </div>
                <div class="row justify-content-center">
                    <form name="form" action="processlogin" th:action="@{/processlogin}" method="post">
                        <div th:if="${param.error}" class="alert alert-error">
                            Zły dane lub admin nie potwierdził jeszcze twojego konta
                        </div>
                        <input class="my-1" name="username" placeholder="Nickname"/> <br/>
                        <input class="my-1" type="password" name="password" placeholder="Hasło"/> <br/>
                        <div class="row justify-content-center">
                            <button class="btn btn-info my-3" type="submit">Zaloguj</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>