<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Napisz post</title>
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body id="meetingBody">
    <div th:replace="~{fragments/header :: header}">Header</div>

    <main>
        <section>
            <div class="container col-sm-6 offset-sm-3 my-5">
                <div class="row justify-content-center my-2">
                    <h1>Napisz post</h1>
                </div>
                <div class="row justify-content-center">
                    <form action="/meeting" method="post" th:action="@{/meeting}" th:object="${meeting}">
                        <p th:errors="*{description}">Błąd treści</p>
                        <textarea class="my-1" th:field="*{description}" placeholder="Godzina i miejsce"></textarea>
                        <div class="row justify-content-center">
                            <button class="btn btn-warning my-3" type="submit">Wstaw</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>