<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rejestracja )-|-(</title>
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body id="registerBody">
<main>
    <section>
        <div class="container col-sm-6 offset-sm-3 my-5">
            <div class="row justify-content-center my-2">
                <h1>Formularz</h1>
            </div>
            <div class="row justify-content-center">
                <form action="register" method="post" th:action="@{/register}" th:object="${user}">
                    <p th:errors="*{nickname}">Nickname errors</p>
                    <input class="my-1" th:field="*{nickname}" placeholder="Nickname"><br />
                    <p th:errors="*{email}">Email errors</p>
                    <input class="my-1" th:field="*{email}" placeholder="Email"><br />
                    <p th:errors="*{password}">Password errors</p>
                    <input class="my-1" type="password" th:field="*{password}" placeholder="Hasło"><br />
                    <p th:errors="*{confirmPassword}">Confirm password errors</p>
                    <input class="my-1" type="password" th:field="*{confirmPassword}" placeholder="Potwierdź hasło"><br />
                    <p th:errors="${user}">Captcha error</p>
                    <div class="g-recaptcha" th:attr="data-sitekey=${@captchaSettings.getSite()}"></div><br />
                    <div class="row justify-content-center">
                        <button class="btn btn-success my-3" type="submit">Rejestruj</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>