<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Udało Ci się zarejestrować!</title>
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css" type="text/css">
    <link rel="stylesheet" th:href="@{css/fontello/css/fontello.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body id="registerSuccessBody">
    <main>
        <section>
            <div class="container col-sm-8 offset-sm-2 col-md-6 offset-md-3 my-sm-5">
                <i class="icon-ok-circled"></i>
                <h1>Udało Ci się zarejestrować! Poczekaj teraz na akceptację admina!</h1>
                <a href="/" th:href="@{/}">Wróć do strony głównej</a>
            </div>
        </section>
    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
</html>