<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gierki</title>
    <base href="/">
    <link rel="stylesheet" th:href="@{css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css" type="text/css">
    <link rel="stylesheet" th:href="@{css/fontello/css/fontello.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body id="timelineContainer">
<div th:replace="~{fragments/header :: header}">Header</div>

<main>
    <section class="meetings">
        <div class="container">
            <div th:if="not ${meetings.isEmpty()}">
                <h1>Gierki</h1>
                <div class="singleGame col-md-10 offset-md-1" th:each="singleGame: ${meetings}" th:object="${singleGame}">
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="col-1 offset-11">
                        <a th:value="${singleGame.id}" class="removePostBtn" onclick="confirmRemovePost(this)">
                            <i class="icon-window-close-o"></i>
                        </a>
                    </div>
                    <div class="infoDiv col-sm-7">
                        <div th:text="*{user.nickname}" class="nickDiv">User</div>
                        <div th:text="*{description}" class="descDiv">Opis</div>
                        <div th:text="*{#dates.format(timestamp, 'dd-MMM-yyyy HH:mm:ss')}" class="timeDiv">1.1.1970</div>
                    </div>
                    <div class="votesDiv col-sm-5">
                        <a th:href="@{'/meeting/'+${singleGame.id}+'/vote/PLUS'}">
                            <div th:text="*{plus}" class="plusDiv">0</div>
                        </a>
                        <a th:href="@{'/meeting/'+${singleGame.id}+'/vote/MAYBE'}">
                            <div th:text="*{maybe}" class="maybeDiv">0</div>
                        </a>
                        <a th:href="@{'/meeting/'+${singleGame.id}+'/vote/MINUS'}">
                            <div th:text="*{minus}" class="minusDiv">0</div>
                        </a>
                        <a th:href="@{'/meeting/'+${singleGame.id}+'/details'}">
                            <div class="meetingDetails"><i class="icon-chart-bar"></i></div>
                        </a>
                    </div>
                    <div class="clearDiv col-sm-12">
                        <form method="post" th:action="@{'/comment/'+${singleGame.id}+'/save'}" th:object="${comment}">
                            <input class="commentInput" th:field="*{text}" placeholder="...">
                            <button class="sendButton btn btn-dark" type="submit">Skomentuj</button>
                        </form>
                    </div>
                    <div class="containerComment col-sm-12">
                        <div class="header">
                            <span>Pokaż komentarze</span>
                        </div>
                        <div class="content">
                            <div class="contentDiv" th:each="comment: ${singleGame.comments}" th:object="${comment}">
                                <div class="oneComment"
                                     th:text="|*{user.nickname}: *{text} *{#dates.format(timestamp, 'dd-MMM-yyyy HH:mm:ss')}|">
                                    Maciow: 41? 1.1.1970 23:59
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="counter">
                        <div class="counterSize" th:text="*{comments.size()}">0</div>
                        <div class="counterText"><i class="icon-chat"></i></div>
                        <div class="clearDiv"></div>
                    </div>
                </div>
                <div class="pagesContainer">
                    <div class="row pagesRow my-5 col-8 offset-2">
                        <div class="text-primary col my-2" th:text="|Strona ${currentPage} z ${totalPages}|">Strona 1 z 1</div>
                        <div class="col" th:if="${currentPage}>1" th:with="prevPage=(${currentPage}-1)">
                            <a th:href="@{'/games/'+${prevPage}}" class="btn btn-primary btn-sm my-1 active" role="button" aria-pressed="true">Poprzednia</a>
                        </div>
                        <div class="col" th:if="${currentPage}<${totalPages}" th:with="nextPage=(${currentPage}+1)">
                            <a th:href="@{'/games/'+${nextPage}}" class="btn btn-primary btn-sm my-1 active" role="button" aria-pressed="true">Następna</a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${meetings.isEmpty()}">
                <h1>Nie ma żadnych gierek :/</h1>
            </div>
        </div>
    </section>
</main>

<script type="text/javascript" th:src="@{js/comments.js}"></script>
<script type="text/javascript" th:src="@{js/commentButton.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{js/removePostModal.js}"></script>
</body>
</html>